@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.img-brand {
    cursor: pointer;
    margin-right: auto;
    max-height: 3rem;
}

.container-fluid img {
    height: 60vh;
}

.form-label {
    font-weight: 600;
}

.availability-form {
    margin-top: -50px;
    z-index: 2;
    position: relative;
}

.custom-bg{
    background-color: red;
}

.custom-alert{
    position: fixed;
    top: 25px;
    right: 25px;
}

@media screen and (max-width: 575px) {
    .availability-form {
        margin-top: 25px;
        padding: 0 35px;
    }
}